# BufferBuilder fields
public com.mojang.blaze3d.vertex.BufferBuilder buffer()Ljava/nio/ByteBuffer; # buffer
public com.mojang.blaze3d.vertex.BufferBuilder nextElementByte()I # nextElementByte

# ModelPart inner classes
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex

# Gui HeartType
public net.minecraft.client.gui.Gui$HeartType

# OutlineBufferSource inner class
public net.minecraft.client.renderer.OutlineBufferSource$EntityOutlineGenerator

# 1.20 RenderSystem field
public com.mojang.blaze3d.systems.RenderSystem vertexSorting()Lcom/mojang/blaze3d/vertex/VertexSorting; # vertexSorting

# RenderStateShard field
public net.minecraft.client.renderer.RenderStateShard name()Ljava/lang/String; # name

# Forged
public net.minecraft.client.renderer.EffectInstance m_108967_()V # updateLocations
public net.minecraft.client.renderer.texture.AbstractTexture f_117951_ # blur
public net.minecraft.client.renderer.texture.AbstractTexture f_117952_ # mipmap
public net.minecraft.client.renderer.texture.AbstractTexture f_117950_ # id
